body {
  margin: 0;
}

.world-row {
  float: left;
}

.cell {
  width: 10px;
  height: 10px;
  border: 1px solid #DDDDDD;
  border-top: none;
  border-left: none;
  float: left;
}

.cell-alive {
  background-color: #000000;
}
