body {
  margin: 0;
}

.world-row {
  clear: both;
}

.cell {
  width: 10px;
  height: 10px;
  border: 1px solid #DDDDDD;
  border-top: none;
  border-left: none;
  float: left;
}

.cell-alive {
  background-color: #000000;
}

.paused {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  margin: 0;
}

.playing {
  display: none;
}
